<div class="card-header">
  <h4 class="my-0 font-weight-normal">{{name}}</h4>
</div>
<div class="card-body">
    <h1 class="card-title pricing-card-title">R$ {{price.toFixed(2)}}
    </h1>
    <ul class="list-unstyled mt-3 mb-4 ingredient-list">
      <li *ngFor="let ingredient of snackIngredients">{{ingredient.description}}
        <button (click)="removeIngredient(ingredient)" class="btn btn-danger">X</button>
      </li>
    </ul>
    <select class="form-control" [(ngModel)]="selectIngredient">
      <option selected disabled value="0">Selecione</option>
      <option *ngFor="let ingredient of ingredients" [value]=ingredient.id> {{ingredient.description}}
      </option>
    </select>
    <button (click)="addIngredient(selectIngredient)" class="btn btn-success mb-5 mt-1 w-100">Inserir</button>
    <button type="button" class="btn btn-lg btn-block btn-outline-primary">Selecionar</button>

</div>

